header {
    background-color: white;
    padding: 20px 0;
    line-height: 0;
}

header h1 {
    color: #656f79;
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
    position: relative;
    bottom: 4px;
    margin-left: 5px;
}